version: '3.1'

services:

  mediawiki:
    image: mediawiki
    ports:
      - "${HOST_PORT}:80"
    environment:
      - MEDIAWIKI_DB_TYPE=${MEDIAWIKI_DB_TYPE}
      - MEDIAWIKI_DB_HOST=${MEDIAWIKI_DB_HOST}
      - MEDIAWIKI_DB_NAME=${MEDIAWIKI_DB_NAME}
      - MEDIAWIKI_DB_USER=${MEDIAWIKI_DB_USER}
      - MEDIAWIKI_DB_PASSWORD=${MEDIAWIKI_DB_PASSWORD}
    volumes:
      - mediawiki_images:/var/www/html/images
#      - ./LocalSettings.php:/var/www/html/LocalSettings.php
    depends_on:
      - db

  db:
    image: mariadb:latest
    restart: always 
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

volumes:
  mediawiki_images:
  db_data:
